@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

body {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: 1000px;
   background-image: url("https://www.psdgraphics.com/wp-content/uploads/2022/01/white-math-paper-texture.jpg");
   background-position: center center;
   zoom: 1.5;
   font-family: "Rajdhani", sans-serif;
}

.paper {
   background-image: url("https://i0.wp.com/textures.world/wp-content/uploads/2018/10/2-Millimeter-Paper-Background-copy.jpg?ssl=1");
   background-size: 500px;
   background-position: center center;
   padding: 20px 100px;
   transform: rotateZ(-5deg);
   box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
   position: absolute;
}

.paper.heart {
   position: relative;
   width: 200px;
   height: 200px;
   padding: 0;
   border-radius: 50%;
}

.paper.image {
   padding: 10px;
}

.paper.image p {
   font-size: 30px;
}

img {
   width: 300px;
   height: 300px;
   object-fit: cover;
   user-select: none;
   display: block;
   margin: 0 auto;
}

.paper.heart::after {
   content: "";
   background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-size: 150px;
   background-position: center center;
   background-repeat: no-repeat;
   opacity: 0.6;
}

p {
   font-family: "Rajdhani", sans-serif;
   font-size: 45px;
   color: rgb(255, 55, 6);
   opacity: 0.85;
   user-select: none;
   font-weight: 600;
   text-align: center;
}

.textofinal p {
   font-size: 65px;
   color: rgb(255, 55, 6);
   opacity: 1;
   padding-top: 12rem;
   text-align: center;
   font-weight: 700;
}

.inicio p {
   font-size: 60px;
   width: 350px;
   height: 450px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   font-weight: 700;
}

.fotos p {
   font-size: 38px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   font-weight: 600;
}
