@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

html, body, .container {
   height: 100%;
   font-family: "Kaushan Script", "Sail", cursive;
}

body {
   background: #e74;
   overflow: hidden;
   background-image: radial-gradient(circle at center bottom, #e9b64b, #c76075 15%, #0d0d4b 75%, #190e14 90%);
}

div#beach, canvas#canvas {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

div#beach {
   background-image: url(https://dl.dropbox.com/s/oe0oce2udq44bj5/beachsil2.png);
   background-position: bottom right;
   background-size: 1700px;
   background-repeat: no-repeat;
}

#billboard {
   position: absolute;
   right: 243px;
   bottom: 200px;
   width: 255px;
   height: 155px;
   background-color: white;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

#video {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#people {
   position: absolute;
   bottom: 65px;
   left: 40px;
   width: 140px;
}

#car {
   position: absolute;
   bottom: 46px;
   left: 180px;
   width: 230px;
}

#sea {
   background: radial-gradient(circle at center top, #23485a, #0d0246);
   height: 85px;
   position: absolute;
   bottom: 0;
   width: 100%;
}

.merrywrap {
   position: absolute;
   inset: 0;
   background-color: #d44;
   transition: background-color 0.5s ease;
}

.giftbox {
   position: absolute;
   width: 300px;
   height: 200px;
   left: 50%;
   margin-left: -150px;
   bottom: 40px;
   z-index: 10;
   transform: scale(2);
   transform-origin: center bottom;
}

.giftbox > div {
   background: #34495e;
   position: absolute;
}

.giftbox:after {
   position: absolute;
   color: #fff;
   width: 100%;
   content: "¡Ábreme!\Aun click";
   white-space: pre;
   left: 0;
   bottom: 0;
   font-size: 64px;
   text-align: center;
   transform: rotate(-20deg);
   transform-origin: 0 0;
}

/* --- resto de tu CSS idéntico --- */
